// Define all colours here

$color-shadow: rgba(0, 0, 0, 0.4);
$color-sheet: #fff;
$color-sheet-border: #afafaf;
$color-post-date: gray;

$color-title-h1: #df5e0e;
$color-title-h2: #816894;
$color-title-h3: #f0a40c;

$color-flash: #ffffa2;
$color-stickie: #ffffa2;

$color-highlight: #f0a40c;

$color-radio-selected: $color-highlight;
$color-required: $color-title-h1;
$color-outline: #b7b7b7;
$color-outline-thin: #e8e8e8;
$color-card-border: #afafaf;
$color-sheet-border: #afafaf;

$color-listing-background: $color-outline-thin;
$color-listing-outline: $color-outline;
$color-listing-even: #f6f6f6;
$color-listing-hover: #D9E8F0; //rgba(232, 232, 232, 0.8);

$color-link: $color-title-h2;
$color-link-metadata: $color-outline;

$color-infobox-term: $color-outline-thin;
$color-infobox-description: #f6f6f6;

$color-bar: #fff;
$color-bar-background: $color-title-h1; //#D9E8F0; //$color-outline-thin;
$color-section-heading: #444;
$color-section-heading-background: #D9E8F0; //#E9C367;
