$font-default: ff-meta-web-pro-1, ff-meta-web-pro-2, Meta, MetaPlus, "Droid Sans", arial, sans-serif;
$font-site-title: ff-meta-web-pro-1, ff-meta-web-pro-2, Meta, MetaPlus, "Droid Sans", arial, sans-serif;
$font-monospace: inconsolata-1, inconsolata-2, Inconsolata, monospace;
$font-button: $font-default;
$font-input: $font-default;
