{% from "baseframe/forms.html" import renderfield, rendersubmit, ajaxform %}
<form id="login" method="POST" class="form-horizontal">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="login"/>
  {{ loginform.hidden_tag() }}
  {% if loginform.csrf_token.errors %}
    {% for error in loginform.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(loginform.username, "small", tabindex='1', autofocus=True, sidetext=Markup('<a href="' + url_for('register', next=request.args.get('next', request.url)) + '">Register a new account?</a>')) }}
  {{ renderfield(loginform.password, "small", tabindex='2', sidetext=Markup('<a href="' + url_for('reset') + '">Forgot password?</a>')) }}
  {{ renderfield(loginform.remember, "small", tabindex='3') }}
  {{ rendersubmit([(None, "Login", 'btn-primary')], "small", tabindex='4') }}
</form>
{{ ajaxform('login', request) }}
