{% from "inc/forms.html" import renderfield, rendersubmit, ajaxform %}
<form id="login" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="login"/>
  {{ loginform.hidden_tag() }}
  {% if loginform.csrf_token.errors %}
    {% for error in loginform.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(loginform.username, "small", tabIndex='1', autofocus=True, sidetext='<a href="' + url_for('register', next=request.args.get('next', request.url)) + '">Register a new account?</a>') }}
  {{ renderfield(loginform.password, "small", tabIndex='2', sidetext='<a href="' + url_for('reset') + '">Forgot password?</a>') }}
  {{ renderfield(loginform.remember, "small", tabIndex='3') }}
  {{ rendersubmit([(None, "Login", None)], "small", tabIndex='4') }}
</form>
{{ ajaxform('login', request) }}
