.hg-h { color: #df5e0e; }
.hg-g { color: #816894; }
.hg-s { color: #f0a40c; }

$color-hg-bar: #444;
$color-hg-bar-border: #df5e0e;
//$color-hg-bar-background: rgba(223, 94, 14, 1);
//$color-hg-bar-background: rgba(129, 104, 148, 0.5);
//$color-hg-bar-background: rgba(0, 0, 0, 0.5);
//$color-hg-bar-background: rgba(80, 80, 200, 0.1);
$color-hg-bar-background: #e8e8e8; //#eeeefa;
$color-hg-bar-highlight: #000;
$color-hg-bar-highlight-background: rgba(0, 0, 0, 0.1);
$color-hg-bar-selected: #000;

// -webkit-gradient(linear, 0% 0%, 0% 100%, from(#434343), to(#292929))

#hg-bar {
    background: $color-hg-bar-background;
    //$experimental-support-for-svg: true;
    @include background-image(linear-gradient(#f9f9f9, #e8e8e8));
    color: $color-hg-bar;
    border-bottom: 1px solid $color-hg-bar-border;
    margin-bottom: 1em;
    ul#hg-barlinks {
        @include pie-clearfix;
        max-width: 930px;
        margin: 0 auto;
        padding: 0 1em;
        position: relative;
        list-style: none;
        font-size: 90%;
        & > li {
            float: left;
            position: relative;
            margin: 0;
            padding: 0;
            a {
                display: block;
                padding: 0.4em 0.5em;
                text-decoration: none;
                background-color: inherit;
                color: $color-hg-bar;
                border-top: 2px solid transparent;
            }
            a:visited {
                text-decoration: none;
                background-color: inherit;
                color: $color-hg-bar;
            }
            a.hg-submenu:after {
                 content: " ▾";
            }
            ul {
                position: absolute;
                margin: 0;
                background: $color-hg-bar-background;
                color: $color-hg-bar;
                list-style: none;
                z-index: 9999;
                left: -9999px;
                @include border-bottom-left-radius(6px);
                @include border-bottom-right-radius(6px);
                border: 1px solid $color-hg-bar-border;
                border-top: none;
                li {
                    float: none;
                    position: relative;
                    white-space: nowrap;
                }
                li:last-child {
                    @include border-bottom-left-radius(6px);
                    @include border-bottom-right-radius(6px);
                }
                li:hover > a {
                    text-decoration: none;
                    background: $color-hg-bar-highlight-background;
                    color: $color-hg-bar-highlight;
                }
                li:last-child > a {
                    @include border-bottom-left-radius(6px);
                    @include border-bottom-right-radius(6px);
                }
                li.hg-menu-section {
                    padding: 0.4em 0.5em 0.5em;
                    font-style: italic;
                    &:before,
                    &:after {
                        content: " — ";
                    }
                }
            }
        }
        & > li:hover > a,
        & > li > a:active {
            text-decoration: none;
            //background: $color-hg-bar-highlight-background;
            background: #e8e8e8;
            border-top: 2px solid #e8e8e8;
            //$experimental-support-for-svg: true;
            @include background-image(linear-gradient(#e8e8e8, #d1d1d1));
            color: $color-hg-bar-highlight;
        }
        & > li:hover > ul {
            left: -1px;
        }
        & > li:first-child {
            margin-left: -0.5em;
        }
        & > li.selected a {
            border-top: 2px solid #df5e0e;
            color: $color-hg-bar-selected;
            font-weight: bold;
        }
    }
}
