.DS_Store
*.pyc
test.db
*.wpr
.project
.pydevproject
.settings
.sass-cache
error.log
*.egg-info
.coverage
.webassets-cache
instance/development.py
instance/production.py
instance/settings.py
packed.css
packed.js
baseframe-packed.css
baseframe-packed.js
*/static/gen
.idea
*.sql
*.sql.gz
*.sql.bz2
secrets.dev
secrets.test
*/.well-known/acme-challenge
ghostdriver.log
.pytest_cache
.vscode
