Flask
markdown
Flask-Assets
Flask-Mail
SQLAlchemy>=0.9
Flask-SQLAlchemy
jsmin
Flask-OpenID
Flask-OAuth
pytz
bcrypt>=2.0.0
ordereddict
Flask-WTF
requests
blinker
Flask-RQ
Flask-Script==0.5.3
tweepy
unicodecsv
oauth2client
ua-parser
git+https://github.com/hasgeek/coaster
git+https://github.com/hasgeek/baseframe
git+https://github.com/jace/flask-alembic
