{% extends "inc/layout.html" %}
{% block title %}Internal Server Error{% endblock %}

{% block content %}
<p>Something broke inside. A report has been sent to the server’s administrator. Apologies for the inconvenience.</p>
<p>
  If you got this when attempting to login with twitter, could you say hello to us at
  <a href="http://twitter.com/hasgeek">@hasgeek</a> on Twitter? We’re having occasional problems
  with some Twitter accounts and need your help sorting it out. Or, you may want to
  <a href="/login/google">login with Google</a> for now.
</p>
{% endblock %}
