{% extends "inc/layout.html" %}
{% block title %}Authorization Required{% endblock %}

{% block content %}
<p>
  An application is requesting access to your data.
</p>
<dl class="infobox">
  <dt>Application name</dt>
  <dd>{{ client.title }}</dd>
  <dt>Description</dt>
  <dd>{{ client.description }}</dd>
  <dt>Owner</dt>
  <dd>{{ client.owner }}</dd>
  <dt>Website</dt>
  <dd><a rel="nofollow" href="{{ client.website }}">{{ client.website }}</a></dd>
  <dt>Access scope</dt>
  <dd>
    <ol>
      {% for key in registry -%}
        {% if key in scope -%}
          <li>{{ registry[key]['description'] }}</li>
        {%- endif %}
      {%- endfor %}
      {% for resource in resources %}
        <li>{{ resource.title }}
          {% if resources[resource] %}
            <ul>
              {% for action in resources[resource] %}
                <li>{{ action.title }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </dd>
</dl>
<p>
  You should authorize this only if you initiated the request
  and trust the application with your data.
</p>
<form id="authorize" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="authorize"/>
  {{ form.hidden_tag() }}
  {% if form.csrf_token.errors %}
    {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  <input class="auth-accept" type="submit" name="accept" value="Authorize"/>
  <input class="auth-deny" type="submit" name="deny" value="Deny"/>
</form>
  
{% endblock %}
