{% extends "baseframe.html.jinja2" -%}
{% from "baseframe/components.html.jinja2" import hgnav %}

{% block headerbox -%}
<header>
  {% block networkbar %}
    {% macro site_title() %}
      <div class="page-header">
        <h1><a href="{{ url_for('index') }}">HasGeek Auth</a></h1>
      </div>
    {% endmacro %}
    {{ hgnav(site_title=site_title(), loginbtntext="Login or sign up") }}
  {% endblock %}
</header>
{%- endblock %}

{% block baseheadline -%}
{%- endblock %}

{% block basecontent -%}
  {# Show a sidebar only if the user is logged in -#}
{#  {%- if current_auth.is_authenticated %}
  <div class="row">
    <div class="span9 col-xs-12 col-sm-8 col-md-9 col-lg-9">
  {%- endif %} #}
      {% block headline -%}
        <div class="page-header">
          <h1>{{ self.title()|e }}</h1>
        </div>
      {%- endblock %}
      {% block content %}{% endblock %}
{#  {%- if current_auth.is_authenticated %}
    </div>
    <div class="span3 col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <ul class="well nav nav-list">
        <li class="nav-header">Account</li>
        <li{% if request.endpoint=='lastuser_ui.account' %} class="active"{% endif %}><a href="{{ url_for('lastuser_ui.account') }}"><span class="icon-user">Profile</span></a></li>
        <li class="nav-header">Applications</li>
        <li{% if request.endpoint=='lastuser_ui.client_list' %} class="active"{% endif %}><a href="{{ url_for('lastuser_ui.client_list') }}"><span class="icon-cog">My applications</span></a></li>
        <li{% if request.endpoint=='lastuser_ui.permission_list' %} class="active"{% endif %}><a href="{{ url_for('lastuser_ui.permission_list') }}"><span class="icon-lock">Permissions</span></a></li>
        <li class="nav-header">Organizations</li>
        {%- for org in current_auth.user.organizations_owned() %}
          <li{% if request.endpoint=='lastuser_ui.OrgView_view' and request.view_args['name']==org.name %} class="active"{% endif %}><a href="{{ org.url_for() }}"><span class="icon-group">{{ org.title }}</span></a></li>
        {%- endfor %}
        <li{% if request.endpoint=='lastuser_ui.OrgView_new' %} class="active"{% endif %}><a href="{{ url_for('lastuser_ui.OrgView_new') }}"><span class="icon-plus">New organization...</span></a></li>
      </ul>
    </div>
  </div>
  {%- endif %} #}
{%- endblock %}

{% block footer %}{{ config['MESSAGE_FOOTER'] }}{% endblock %}
