{% extends "baseframe.html.jinja2" -%}
{% from "baseframe/components.html.jinja2" import hgtopnav %}

{% block sidedrawer -%}
{%- endblock %}

{% block header -%}
  {% macro site_title() %}
    <div class="page-header">
      <a href="{{ url_for('index') }}" title="{{ config['SITE_TITLE'] }}" class="mui--text-light">{{ config['SITE_TITLE'] }}</a>
    </div>
  {% endmacro %}
  {{ hgtopnav(site_title=site_title(), loginbtntext="Login or sign up") }}
{%- endblock %}

{% block bodytag %}<body class="mui--bg-primary">{% endblock %}

{% block contenthead %}
  {% block headline -%}
    <div class="content-head content-head--top-padding mui--bg-accent">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-xs-12">
            {% block top_title %}
            <h1 class="mui--text-display1">
              {{ self.title()|e }}
            </h1>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  {%- endblock %}
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    {% block contentwrapper %}
    <div class="grid">
      <div class="grid__col-xs-12">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock %}
