{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield, rendersubmit %}
{% block title %}My profile{% endblock %}

{% block content %}
<p>
  This page is work-in-progress.
</p>
<dl class="infobox">
  <dt>My name</dt>
  <dd>{{ g.user.fullname }}</dd>
  <dt>My username</dt>
  <dd>{% if g.user.username %}{{ g.user.username }}{% else %}<em>(none)</em>{% endif %}</dd>
  <dt>Bio</dt>
  <dd>{{ g.user.description }}</dd>
</dl>
<p>
  <a href="{{ url_for('profile_edit') }}">Edit this &rarr;</a><br/>
  <a href="{{ url_for('change_password') }}">Change password &rarr;</a>
</p>
<h2>My email addresses</h2>
<ul>
  {% for useremail in g.user.emails %}
    <li>{{ useremail }}{% if useremail.primary %} <em>(primary)</em>{% endif %}</li>
  {% else %}
    <li><em>(no verified addresses)</em></li>
  {% endfor %}
  {% for useremail in g.user.emailclaims %}
    <li>{{ useremail }} <em>(pending verification)</em></li>
  {% endfor %}
  <li><a href="{{ url_for('add_email') }}">Add another email address &rarr;</a></li>
</ul>
<h2>My external ids</h2>
<ul>
  {% for extid in g.user.externalids %}
    <li>Service: {{ extid.service }}, Userid: {{ extid.userid }}, Username: {{ extid.username }}</li>
  {% else %}
    <li><em>(none)</em></li>
  {% endfor %}
</ul>
<h2>My applications</h2>
<ul>
  {% for client in g.user.clients %}
    <li><a href="{{ url_for('client_info', key=client.key) }}">{{ client.title }}</a></li>
  {% else %}
  <li><em>(you do not have any applications)</em></li>
  {% endfor %}
</ul>
{% endblock %}
