{% extends "inc/layout.html" %}
{% block title %}Profile: {{ user.fullname|e }}{% endblock %}
{% block heading %}
{% if g.avatar_url %}
  <img class="avatar" align="right" src="{{ g.avatar_url }}" alt="Avatar"/>
{% endif %}
<h1>{{ self.title()|e }}</h1>
{% endblock %}
{% block content %}
<dl class="infobox">
  {%- if user.username %}
    <dt>Username</dt>
    <dd>{{ user.username }}</dd>
  {%- endif %}
  <dt>Full name</dt>
  <dd>{{ user.fullname }}</dd>
  <dt>Userid</dt>
  <dd>{{ user.userid }}</dd>
  {%- if user.email %}
    <dt>Email MD5</dt>
    <dd>{{ user.email.md5sum }}</dd>
  {%- endif %}
  <dt>Registered date</dt>
  <dd>{{ user.created_at }}</dd>
</dl>
{% endblock %}