{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield, rendersubmit %}
{% block title %}Register an account{% endblock %}

{% block content %}
<form id="register" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="register"/>
  {{ form.csrf() }}
  {% if form.csrf.errors %}
    {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(form.fullname, "small", autofocus=True) }}
  {{ renderfield(form.username, "small") }}
  {{ renderfield(form.email, "small") }}
  {{ renderfield(form.password, "small") }}
  {{ renderfield(form.confirm_password, "small") }}
  {{ renderfield(form.recaptcha, "small") }}
  {{ rendersubmit([(None, "Register", None)], "small") }}
</form>
{% endblock %}
