{% extends "inc/layout.html" %}
{% block title %}Client application information{% endblock %}
{% block content %}
{% if client.user == g.user %}
  <p><a href="{{ url_for('client_edit', key=client.key) }}">Edit this application &rarr;</a></p>
{% endif %}
<dl>
  <dt>Title:</dt>
  <dd>{{ client.title|e }}</dd>
  <dt>Description:</dt>
  <dd>{{ client.description|e }}</dd>
  <dt>Owner:</dt>
  <dd>{{ client.owner|e }}</dd>
  <dt>Website:</dt>
  <dd>{{ client.website|e }}</dd>
  <dt>Redirect URI:</dt>
  <dd>{{ client.redirect_uri|e }}</dd>
  <dt>Service URI:</dt>
  <dd>{{ client.service_uri|e }}</dd>
  <dt>Active?</dt>
  <dd>{{ client.active|e }}</dd>
  <dt>Read-only?</dt>
  <dd>{{ client.readonly|e }}</dd>
  {% if g.user == client.user %}
  <dt>Client id (key):</dt>
  <dd>{{ client.key|e }}</dd>
  <dt>Client secret:</dt>
  <dd>{{ client.secret|e }}</dd>
  {% endif %}
  <dt>Registered date:</dt>
  <dd>{{ client.registered_date|e }}</dd>
</dl>
<h2>Resources</h2>
{% endblock %}
