{% extends "inc/layout.html" %}
{% block title %}Application list{% endblock %}
{% block content %}
<table class="listing">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Owner</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ url_for('client_info', key=client.key)|e }}">{{ client.title|e }}</a></td>
        <td>{{ client.owner|e }}</td>
        <td>{{ client.website|e }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a href="{{ url_for('client_new')|e }}">Register a new application &rarr;</a>
</p>
{% endblock %}
