{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}Edit client application{% endblock %}

{% block content %}
<form id="newclient" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="newclient"/>
  {{ form.csrf() }}
  {% if form.csrf.errors %}
    {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(form.title, "small", autofocus=True) }}
  {{ renderfield(form.description, "wide") }}
  {{ renderfield(form.owner, "small") }}
  {{ renderfield(form.website, "small") }}
  {{ renderfield(form.callback_uri, "small") }}
  {{ renderfield(form.readonly, "check") }}
  <input type="submit" value="Register"/>
</form>
{% endblock %}
