{% extends "inc/layout.html" %}
{% block titletags -%}
  <title>{{ config['SITE_TITLE'] }}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block header %}
<h1>{{ config['SITE_TITLE']|e }}</h1>
{% endblock %}

{% block content %}
<p>
  This is lastuser.
  {% if g.user -%}
    Hello, {{ g.user.fullname }}! <a href="{{ url_for('logout') }}">Logout</a>?
  {%- else -%}
    <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a>?
  {%- endif %}
</p>
<p>
  Other options:
</p>
<ol>
  <li><a href="{{ url_for('clientlist') }}">Client applications</a></li>
</ol>
{% endblock %}
