{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}Login{% endblock %}

{% block content %}
<form id="login" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="login"/>
  {{ form.csrf() }}
  {% if form.csrf.errors %}
    {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(form.username, "small", autofocus=True) }}
  {{ renderfield(form.password, "small") }}
  <div class="field small" id="forgot-password">
    <div class="label">&nbsp;</div><div class="control">
    <a href="{{ url_for('reset') }}">Forgot password?</a>
    </div>
  </div>
  {{ renderfield(form.remember, "check") }}
  <input type="submit" value="Login"/>
</form>
{% endblock %}
