{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield, rendersubmit %}
{% block title %}Edit profile{% endblock %}

{% block content %}
<form id="editprofile" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="editprofile"/>
  {{ form.csrf() }}
  {% if form.csrf.errors %}
    {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(form.fullname, "small", autofocus=True) }}
  {{ renderfield(form.username, "small") }}
  {{ renderfield(form.description, "wide") }}
  {{ rendersubmit([(None, "Save changes", None)], "wide") }}
</form>
{% endblock %}
