{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}Reset password{% endblock %}

{% block content %}
<p>
  You may now choose a new password.
</p>
<form id="reset" method="POST">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="reset"/>
  {{ form.csrf() }}
  {% if form.csrf.errors %}
    {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ renderfield(form.password, "small", autofocus=True) }}
  {{ renderfield(form.confirm_password, "small") }}
  <input type="submit" value="Reset password"/>
</form>
{% endblock %}
