body {
    font-family: $font-default;
    font-size: 100%;
}

header, #main, footer {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}

header, #main {
    position: relative;
}

header {
    padding: 0 1em 0;
    border-bottom: 1px solid $color-outline;
}

#main {
    padding: 1em;
}

@include sticky-footer(50px, "#container", "#main_footer", "footer");
footer {
    padding: 0 1em;
}

footer #footer_content {
    text-align: center;
    border-top: 1px solid $color-outline;
    font-size: 80%;
    margin: 0 -1.25em; // 80% * 1.25 = 100%
    padding: 0 1.25em;
}

#logo {
    @include replace-text-with-dimensions('logo.png');
    a {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

small {
    font-size: 80%;
}

p, blockquote, ul, ol, table, dl {
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote {
    margin-left: 0.25em;
    border-left: 5px solid $color-outline-thin;
    padding-left: 0.25em;
    color: #888;
}

h1 {
    font-size: 200%;
    color: $color-title-h1;
    margin: 0;
}

h2 {
    font-size: 150%;
    color: $color-title-h2;
    margin: 1em 0 0;
}

a, a:active, a:visited {
    text-decoration: none;
    color: $color-link;
    //border-bottom: 1px solid $color-link;
}

a:hover {
    color: $color-link;
    text-decoration: underline;
}

a.loginbutton {
    display: inline-block;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100px;
    height: 40px;
    border: 1px solid $color-outline;
    padding: 5px;
    //margin: 1em 0;
    @include border-radius(3px);
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
}

a.loginbutton:hover {
    @include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 1px, 5px);
}

dl dt {
    font-weight: bold;
    margin-top: 1em;
}

dl dd {
    text-indent: 1em;
    margin-bottom: 1em;
}

dl.bar {
    display: block;
    @include display-box;

    margin: 1em 0;
    dt {
        display: inline;
        @include display-box;
        margin: 0 0.5em 0 0;
    }
    dt:after {
        content: ":";
    }
    dd {
        display: inline;
        @include display-box;
        @include box-flex(1);
        margin: 0 1em 0 0;
        text-indent: 0;
    }
    dd:last-child {
        @include box-flex(0);
        margin: 0;
    }
}

dl.infobox {
    $width-infobox-term: 10em;

    position: relative;
    margin-bottom: 0;
    font-size: 85%;
    border: 1px solid $color-outline;
    @include border-radius(4px);
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
    padding: 0;
    background: $color-infobox-term;

    dt {
        width: $width-infobox-term;
        float: left;
        clear: left;
        margin: 0;
        padding: 0.5em 0 0 0.5em;
        text-align: right;
    }

    dd {
        @include pie-clearfix;
        position: relative;
        text-indent: 0;
        clear: none;
        margin: 0;
        margin-left: ($width-infobox-term + 1em);
        border-left: 1px solid $color-outline;
        background: $color-infobox-description;
        padding: 0.5em;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border-left: 1px solid #eee; /* Fake shadow colour */
        }
        p, ul, ol {
            margin-top: 0;
        }
        ul, ol {
            margin-bottom: 0;
        }
    }
    dt:first-child + dd {
        @include border-top-right-radius(4px);
    }
    dd:last-child {
        @include border-bottom-right-radius(4px);
    }
}

img.avatar {
    padding: 3px;
    border: 1px solid $color-outline;
    @include border-radius(3px);
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
}

img.login_avatar {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 48px;
    height: 48px;
}

.breadcrumbs {
    @include pie-clearfix;
    list-style: none;
    margin: {
        top: -1em;
        bottom: 1em;
        left: 0;
        right: 0;
    }
    padding: 0;
    li {
        float: left;
        padding: 0.25em 0.25em;
        font-size: 80%;
        &:before {
            content: "→";
            padding-right: 0.5em;
        }
        &:first-child:before {
            content: "";
            padding-right: 0;
        }
        &.home {
            @include replace-text-with-dimensions('home.png', 12, 22);
            padding: 0 0.2em 0 0;
            a {
                display: block;
            }
        }
    }
}

.usertools {
    list-style: none;
    position: absolute;
    right: 1.25em; // (100%/80% = 1.25)
    bottom: 0;
    margin: 0;
    font-size: 80%;
    li {
        float: left;
        padding: 0.25em 0.5em;
        border-right: 1px solid $color-outline-thin;
        a {
            text-decoration: none;
            border-bottom: 0;
        }
        &.profile {
            font-weight: bold;
        }
        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }
}

/* Flash messages */
.flash, #guide {
    background: $color-flash;
    position: relative;
    margin: {
        left: 0;
        right: 0;
        top: 0;
        bottom: 1em;
    }
    border: 1px solid $color-sheet-border;
    @include border-radius(4px);
    div.flashmessage, div.guidecontent {
        margin: 0.5em 1em 0.6em;
    }
    p, blockquote, ul, ol {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    form {
        margin-bottom: 2em;
    }
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
}

.flash:before, #guide:before {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    top: -21px; /* value = - border-top-width - border-bottom-width */
    left: 1.5em; /* controls horizontal position */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: $color-sheet-border;
}

/* creates the smaller  triangle */
.flash:after, #guide:after {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    top: -20px; /* value = - border-top-width - border-bottom-width */
    left: 1.5em; /* value = (:before left) + (:before border-left) - (:after border-left) */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: $color-flash;
}


/* Form elements */
@mixin small-field {
    float: left;
    width: 35em;
}

div.field {
    @include pie-clearfix;
    margin-top: 1em;
    margin-bottom: 1em;
    .checkbox label {
        padding-left: 0.25em;
    }
    div.label .required {
        color: $color-required;
    }
    div.markdown-field {
        div.markdown-buttons {
            float: left;
            padding: 10px 0px;
            a {
                @include border-radius(3px);
                border: 1px solid $color-outline;
                padding: 3px;
                background: #DF5E0E;
                margin-bottom: 15px;
                text-decoration: none;
                color: #fff;
                font-size: 80%;
            }
            .button {
                opacity: 0.7;
            }
            .button.selected {
                opacity: 1;
            }

        }
        div.preview-control {
            float: left;
            width: 100%;
            div.preview-block {
                @include border-radius(3px);
                border: 1px solid $color-outline;
                width: 90%;
                min-height: 10em;
                padding: 5px;
            }
        }
    }
    &.small {
        div.label {
            float: left;
            clear: left;
            width: 11em;
            padding-top: 6px; // Make label align with text in fields
            label {
                font-weight: bold;
            }
        }
        div.control {
            @include small-field;
            ul {
                -moz-column-count: 2;
                list-style: none;
                margin: 0;
                li {
                    padding: 0.25em;
                    @include border-radius(4px);
                    label {
                        padding-left: 0.25em;
                    }
                }
                li.selected {
                    //background-color: $color-radio-selected;
                font-weight: bold;
                }
            }
        }
        div.markdown-field {
            @include small-field;
        }
    }
    &.check div.label,
    &.wide div.label.submit {
        display: none;
    }
    &.wide div.label {
        float: none;
        clear: left;
        label {
            font-weight: bold;
        }
    }
    &.wide div.control {
        margin-top: 0.25em;
        float: none;
        clear: left;
    }
}

div.error {
    position: relative;
    background-color: $color-title-h1;
    color: #fff;
    margin: 1em 0;
    padding: 0.5em 1em;
    width: 80%;
    @include border-radius(3px);
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -19px;
        left: 12em;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: $color-title-h1;
    }
}

span.sidetext {
    padding-left: 0.5em;
}

span.description {
    font-size: 90%;
    color: #666;
}

form {
    margin-bottom: 1em;
}

input, textarea, select {
    font-family: $font-input;
}

fieldset {
    @include pie-clearfix;
    margin-top: 1em;
    margin-bottom: 1em;
}

textarea {
    width: 90%;
    height: 10em;
}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], select {
    //display: block;
    padding: 5px;
    color: #444;
    border: 1px solid $color-outline;
    @include border-radius(3px);
}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"] {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.5) inset;
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.5) inset;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.5) inset;
    }

input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    background: #fff;
}

input[type="url"] {
    width: 500px;
}

input[name="title"] {
    font-weight: bold;
    font-size: 120%;
    width: 500px;
}

select {
    margin-bottom: 5px;
}

input[name="openid"] {
    background: image-url("openid.png") 4px no-repeat;
    width: 230px;
    padding-left: 25px;
}

input[type="submit"] {
    height: 27px;
    border: 1px solid $color-outline;
    font-family: $font-button;
    font-size: 14px;
    @include border-radius(3px);
    padding: 0 12px;
    background: #e6e6e6;
    //@include linear-gradient(color-stops(#e6e6e6, #d6d6d6));
    @include background-image(linear-gradient(#e6e6e6, #d6d6d6));
    font-weight: bold;
    color: #444;
    vertical-align: text-bottom;
    &:hover {
        //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        background: #d6d6d6;
        //@include linear-gradient(color-stops(#d6d6d6, #c6c6c6));
        @include background-image(linear-gradient(#d6d6d6, #c6c6c6));
        //color: #fff;
    }
}

input[type="submit"].delete {
    border: 1px solid #d47645;
    background: #ff8e53;
    //@include linear-gradient(color-stops(#ff8e53, #ee7e43));
    @include background-image(linear-gradient(#ff8e53, #ee7e43));
    &:hover {
        background: #ee7e43;
        //@include linear-gradient(color-stops(#ff8e53, #dd6e33));
        @include background-image(linear-gradient(#ff8e53, #dd6e33));
    }
}

span.loading {
    display: inline-block;
    background: image-url("ajax-loader.gif") center no-repeat;
    width: 16px;
    height: 16px;
    &.hidden {
        display: none;
    }
}

/* Tables */
table.listing {
    width: 100%;
    border-top: 1px solid $color-listing-outline;
    border-bottom: 1px solid $color-listing-outline;
    border-collapse: collapse;
    font-size: 85%;
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
}

.listing th, .listing td {
    padding: 0.2em 1em;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid $color-listing-outline;
    border-right: 1px solid $color-listing-outline;
}

.listing td.separator,
.listing tbody.separator {
    border-bottom: 1px solid $color-listing-outline;
}

.listing tr:nth-of-type(even) {
    background: $color-listing-even;
}

.listing thead th {
    background: $color-listing-background;
    padding: 0.4em 1em 0.2em;
}

.listing thead th, .listing thead td {
    border-bottom: 1px solid $color-listing-outline;
}

.listing tfoot th, .listing tfoot td {
    border-top: 1px solid $color-listing-outline;
    background: $color-listing-background;
}

.listing th.num, .listing td.num {
    text-align: right;
}

.listing tr.link a,
.listing tbody.link a {
    text-decoration: none;
    border-bottom: 0;
    display: block;
    margin: -0.2em -1em;
    padding: 0.2em 1em;
    color: inherit;
}

.listing tr.link:hover,
.listing tbody.link:hover tr {
    background: $color-listing-hover;
}

ul.cardset {
    @include pie-clearfix;
    list-style: none;
    margin: 1.5em 0 1em 0;
    padding: 0;

    li {
        background: #fff;
        vertical-align: top;
        margin: 0 0.5em 0.5em 0;
        padding: 0;
        width: 300px;
        border: 1px solid $color-card-border;
        display: block;
        float: left;
        @include border-radius(4px);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
        &:hover {
            background: #f6f6f6;
        }
        a, a:hover, a:active, a:visited {
            color: inherit;
            display: block;
            margin: 0;
            padding: 0;
            text-decoration: none;

            .title {
                display: block;
                padding: 0 1em;
                height: 5.5em;
                overflow: hidden;
                h2 {
                    color: $color-title-h2;
                    margin: 0.5em 0 0 0;
                    font-size: 130%;
                }
                h3 {
                    margin: 0.5em 0 0 0;
                    font-size: 80%;
                    color: #666;
                    font-weight: normal;
                }
            }
            .body {
                display: block;
                padding: 0 1em;
                height: 7em;
                overflow: hidden;
                border-top: 1px solid $color-outline-thin;
            }
        }
    }
}

.infosheet {
    position: relative;
    max-width: 800px;
    margin: 2em auto;
    padding-bottom: 1em;
    border: 1px solid $color-sheet-border;
    @include border-radius(4px);
    @include box-shadow($color-shadow 0 1px 5px);//, rgba(0, 0, 0, 0.1) 0 0 20px inset);
    .leftear, .rightear {
        position: absolute;
        top: 0.5em;
        font-weight: bold;
        margin: 0;
        padding: 0;
        width: 4em;
        span {
            color: #ccc;
        }
        a, span {
            display: block;
            position: relative;
            font-size: 300%;
            //color: #BC97D7;
            text-decoration: none;
        }
        a:hover {
            //@include text-shadow($color-shadow 0 0 2px);
            //color: $color-link;
            text-decoration: none;
        }
    }
    .leftear {
        left: -4em;
        text-align: right;
        a, span {
            padding-right: 0.33em;
            @include single-transition(left, 0.1s, linear);
        }
        a:hover {
            left: -5px;
            @include single-transition(left, 0.1s, linear);
        }
    }
    .rightear {
        right: -4em;
        text-align: left;
        a, span {
            padding-left: 0.33em;
            @include single-transition(right, 0.1s, linear);
        }
        a:hover {
            right: -5px;
            @include single-transition(right, 0.1s, linear);
        }
    }
    .votebox {
        //position: absolute;
        //top: 1em;
        //right: 2em;
        float: right;
        text-align: center;
        padding-left: 1em;
        .choices {
            font-size: 200%;
            span.score {
                font-family: $font-monospace;
                border: 1px solid $color-outline;
                @include border-radius(3px);
                padding: 0 3px;
            }
            span.indicator {
                font-family: $font-monospace;
            }
            a.votechoice {
                font-family: $font-monospace;
                border: 1px solid transparent;
                @include border-radius(3px);
                padding: 0 3px;
            }
            a.votechoice:hover {
                border: 1px solid $color-outline;
                text-decoration: none;
            }
            a.votechoice:active, a.votechoice.selected {
                background-color: $color-section-heading-background;
                color: $color-section-heading;
            }
        }
        .label {
            margin-top: 0.5em;
        }
    }
    .section {
        // border-top: 1px solid $color-outline-thin;
        padding: 0 2em;
        h1 {
            margin: 0.5em 0 0 0;
        }
        h2 {
            //margin: 0.66em 0 0 0;
            font-size: 100%;
            background: $color-section-heading-background;
            padding: 0.25em 0.5em;
            margin: 0 -0.5em;
            color: $color-section-heading;
            @include border-radius(3px);
        }
        h1+p, h1+ul, h1+ol, h2+p, h2+ul, h2+ol {
            margin-top: 0.5em;
        }
        .social {
            position: relative;
            margin: 1em 0;
            iframe {
                display: inline-block;
            }
            .facebooklike {
                position: relative;
                top: 1px;
            }
        }
    }
    .section.bar {
        position: relative;
        color: $color-bar;
        background-color: $color-bar-background;
        padding: 1px 3em;
        margin: 1em -1em;
        @include box-shadow($color-shadow 0 1px 2px);
        &:before, &:after {
            display: block;
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 0.5em 1em;
            height: 0px;
            width: 0px;
            z-index: -1;
        }
        &:before {
            left: -1em;
            bottom: -0.5em;
            border-color: transparent $color-bar-background transparent transparent;
        }
        &:after {
            right: -1em;
            bottom: -0.5em;
            border-color: transparent transparent transparent $color-bar-background;
        }
    }
    .section.first {
        border-top: none;
    }
}

.comments {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    p, blockquote, ul, ol, table, dl {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    li.comment {
        position: relative;
        padding: 0.5em 0.5em;
        margin: 0;
        min-height: 3em;
    }
    div:target {
        margin: -0.25em;
        padding: 0.25em;
        background-color: $color-flash; //$color-listing-hover;
        @include border-radius(3px);
    }
    .collapse, .uncollapse {
        font-family: $font-monospace;
    }
    .comment-vote {
        position: absolute;
        text-align: center;
        left: -2em;
        width: 2em;
        font-size: 80%;
        a {
            color: $color-link-metadata;
        }
        a:hover {
            text-decoration: none;
            color: $color-link;
        }
        a.comment-vote-cancel {
            color: $color-link;
        }
    }
    .com-children {
        border-left: 1px dotted $color-outline;
        list-style: none;
        margin-left: 0;
        padding-left: 2em;
        margin-bottom: 0;
    }
    .com-header, .com-footer {
        font-size: 80%;
        color: $color-link-metadata;
        .commenter {
            color: #444;
            font-weight: bold;
        }
        .commenter.selected {
            color: $color-section-heading;
            background-color: $color-section-heading-background;
            padding: 1px 0.25em;
            @include border-radius(3px);
        }
    }
    .com-header a,
    .com-footer a {
        color: $color-link-metadata;
    }
    .com-header a:hover,
    .com-footer a:hover {
        color: $color-link;
        text-decoration: none;
    }
}

/* markdown preview related */
div.field div.preview-control {
  float: left;
  width: 100%;
}
div.field.small div.preview-control {
  width: 35em;
}
div.preview-block, div.markdown-field a.button {
  border: 1px solid #b7b7b7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
div.preview-block {
  width: 90%;
  min-height: 10em;
  padding: 5px;
}
div.markdown-field{
  // float: right;
  margin: 0 8% 5px 0;
  // font-size: 80%;
}
div.markdown-field a.button {
  padding: 3px;
  background: #DF5E0E;
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  &.selected {
    opacity: 1;
  }
}

/* Spam protection */
.z {
    display: none;
}

/* Cookies */
.cookies-required-alert,
.no-cookies .cookies-required {
    display: none;
}

.cookies-required,
.no-cookies .cookies-required-alert {
    display: block;
}
.no-cookies .cookies-required-alert {
    margin-top: 1em;
}
