{% from "baseframe/forms.html.jinja2" import renderfield, rendersubmit %}
{% macro passwordlogin(loginform, markup) %}
  <form id="passwordlogin" method="POST" class="mui-form mui-form--margins" accept-charset="UTF-8">
    <input type="hidden" name="form.id" value="passwordlogin"/>
    {{ loginform.hidden_tag() }}
    {% if loginform.csrf_token is defined %}
      {% if loginform.csrf_token.errors %}
        {% for error in loginform.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
      {% endif %}
    {% endif %}
    {{ renderfield(loginform.username, tabindex='1', autofocus=true, sidetext=markup('<a href="' + url_for('.register') + '">Create a new account?</a>')) }}
    {{ renderfield(loginform.password, tabindex='2', sidetext=markup('<a href="' + url_for('.reset') + '">Forgot password?</a>')) }}
    {{ rendersubmit([(none, "Login", 'mui-btn--raised mui-btn--primary')], tabindex='3') }}
  </form>
{% endmacro %}
