<div itemscope itemtype="http://schema.org/EmailMessage">
	<div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
		<meta itemprop="name" content="Reset Password"/>
		<link itemprop="url" href="{{ reset_link }}"/>
	</div>
	<meta itemprop="description" content="Reset your password"/>
	<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="{{ config['SITE_TITLE'] }}"/>
		<link itemprop="url" href="{{ request.url_root }}"/>
	</div>
</div>
<p>Hello {{ name }},</p>
<p>You or someone claiming to be you asked for your password to be reset.</p>
<p><a href="{{ reset_link }}">Click here to reset your password</a></p>
<p>If you did not ask for your password to be reset, you may safely ignore this
email.</p>