<div itemscope itemtype="http://schema.org/EmailMessage">
	<div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
		<meta itemprop="name" content="Reset Password"/>
		<link itemprop="url" href="{{ url_for('.reset_email', _external=True, buid=user.buid, secret=secret) }}"/>
	</div>
	<meta itemprop="description" content="Reset your password"/>
	<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="{{ config['SITE_TITLE'] }}"/>
		<link itemprop="url" href="{{ request.url_root }}"/>
	</div>
</div>
<p>{% trans name=user.fullname %}Hello {{ name }},{% endtrans %}</p>
<p>{% trans %}You or someone claiming to be you asked for your password to be reset.{% endtrans %}</p>
<p><a href="{{ url_for('.reset_email', _external=True, buid=user.buid, secret=secret) }}">{% trans %}Click here to reset your password{% endtrans %}</a></p>
<p>{% trans %}If you did not ask for your password to be reset, you may safely ignore this email.{% endtrans %}</p>
