<div itemscope itemtype="http://schema.org/EmailMessage">
	<div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
		<meta itemprop="name" content="Reset Password"/>
		<link itemprop="url" href="{{ url_for('.reset_email', _external=True, userid=user.userid, secret=secret) }}"/>
	</div>
	<meta itemprop="description" content="Reset your password"/>
	<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="HasGeek Auth"/>
		<link itemprop="url" href="https://auth.hasgeek.com/"/>
	</div>
</div>
<p>Hello {{ user.fullname }},</p>
<p>You or someone claiming to be you asked for your password to be reset.</p>
<p><a href="{{ url_for('.reset_email', _external=True, userid=user.userid, secret=secret) }}">Click here to reset your password</a></p>
<p>If you did not ask for your password to be reset, you may safely ignore this
email.</p>