<div itemscope itemtype="http://schema.org/EmailMessage">
	<div itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
		<meta itemprop="name" content="Confirm Email Address"/>
		<div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			<link itemprop="url" href="{{ url_for('lastuser_oauth.confirm_email', _external=True, md5sum=useremail.md5sum, secret=useremail.verification_code) }}"/>
		</div>
	</div>
	<meta itemprop="description" content="Confirm your email address"/>
	<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="{{ config['SITE_TITLE'] }}"/>
		<link itemprop="url" href="{{ request.url_root }}"/>
	</div>
</div>
<p>Hello {{ useremail.user.fullname }},</p>
<p><a href="{{ url_for('lastuser_oauth.confirm_email', _external=True, md5sum=useremail.md5sum, secret=useremail.verification_code) }}">Click here to confirm your email address</a></p>
<p>If you did not sign up, you may safely ignore this email.</p>