{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import renderfield, renderform_inner, rendersubmit, ajaxform %}
{% from "forms/login.html.jinja2" import passwordlogin %}
{% block title %}Login{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="alert alert--error fade in cookies-required-alert">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Cookies are required to login. Please enable cookies in your browser’s settings and reload this page.
  </div>
  <div class="cookies-required mui-form mui-form--margins">
    <div><h2>
      {%- if config['LOGIN_MESSAGE_1'] -%}
        {{ config['LOGIN_MESSAGE_1'] }}
      {%- else -%}
        Login with your existing account at any of these <small>(pick one)</small>
      {%- endif -%}
    </h2></div>
    <div>
      <p>
      {% for provider in login_registry %}
        <a class="mui-btn mui-btn--small mui-btn--primary mui-btn--default login-{{ provider }} {%- if lastused==provider %} lastused{% elif not login_registry[provider].priority %} optional jshidden{% endif %}" href="{{ url_for('.login_service', service=provider, next=request.args.get('next')) }}"><img src="{{ url_for('static', filename='oauth/img/' + login_registry[provider].icon + '.png') }}" class="webfont-svg" alt="{{ login_registry[provider]['title'] }}"/></i> {{ login_registry[provider]['title'] }}</a>
      {% endfor %}
        <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent caption no-jshidden" id="showmore" href="#">Show more...</a>
      </p>
    </div>
    {%- for service, formdata in service_forms.items() %}{% with form = formdata['form'] %}
      <form id="form-{{ service }}" method="POST" class="jshidden">
        <input type="hidden" name="_charset_"/>
        <input type="hidden" name="next" value="{{ formdata['next'] }}"/>
        {% if formdata['error'] %}<div class=error>{{ formdata['error'] }}</div>{% endif %}
        {{ renderform_inner(form, service) }}
        {{ rendersubmit([(None, "Login", 'btn-primary')], "small") }}
      </form>
    {%- endwith %}{% endfor %}
    <div id="passwordform" {%- if lastused != 'password' %} class="jshidden"{% endif %}>
      <h2 class="passwordform-heading">
        {%- if config['LOGIN_MESSAGE_2'] -%}
          {{ config['LOGIN_MESSAGE_2'] }}
        {%- else -%}
          Or, login with a password
        {%- endif -%}
      </h2>
      <div class="grid__col-xs-12 grid__col-md-6 grid__col--bleed">
        {{ passwordlogin(loginform, Markup) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  {{ ajaxform('passwordlogin', request, True) }}
  <script type="text/javascript">
    $(function() {
      {% if oiderror -%}
        $("#openid").removeClass('jshidden').focus();
      {% else -%}
        $("#form-openid").hide().removeClass('jshidden');
      {% endif -%}
      {% if lastused != 'password' %}$("#passwordform").removeClass('jshidden').hide();{% endif %}
      $(".mui-btn.optional").hide().removeClass('jshidden');
      $(".login-openid").click(function() {
        $("#form-openid").fadeToggle();
        $("#openid").focus();
        return false;
      });
      $("#showmore").click(function() {
        $("#showmore").hide();
        $(".mui-btn.optional").fadeToggle();
        $("#passwordform").fadeIn();
        $("#username").focus();
        return false;
      });
    });
  </script>
{% endblock %}
