{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Forbidden{% endtrans %}{% endblock %}

{% block content %}
  <p>{% trans %}There was an error in the authorization request:{% endtrans %}</p>
  <p>{{ reason }}</p>
{% endblock %}
