// Application stylesheets

@import "compass"

.page-content
  padding-top: 2em

.content-head--top-padding
  padding-top: 1em
  padding-bottom: 1em
  border-bottom: 1px solid rgba(132, 146, 166, 0.3)

.card--limited
  width: 340px
