{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import rendersubmit %}
{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12 grid__col-sm-6">
    <div class="card">
      <div class="card__header">
        <h3><b>{% trans %}Info{% endtrans %}</b></h3>
      </div>
      <div class="card__body card__body--lgtext mui--text-subhead">
        <p><b>{% trans %}Name{% endtrans %}</b>: {{ current_auth.user.fullname }}</p>
        <p><b>{% trans %}Username{% endtrans %}</b>: 
          {% if current_auth.user.username %}
            {{ current_auth.user.username }}
          {% else %}
            <em>{% trans %}(none){% endtrans %}</em>
          {% endif %}
        </p>
      </div>
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" href="{{ url_for('lastuser_oauth.account_edit') }}" title="Edit">{% trans %}Edit this{% endtrans %}</a>
        <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('.change_password') }}" title="Change password">{% trans %}Change password{% endtrans %}</a>
      </div>
    </div>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-6">
    <div class="card">
      <div class="card__header">
        <h3><b>{% trans %}External IDs{% endtrans %} <small>{% trans %}Use any of these to login to your account{% endtrans %}</small></b></h3>
      </div>
      <div class="card__body card__body--lgtext mui--text-subhead">
        <ol class="mui-list--aligned">
          {% for extid in current_auth.user.externalids %}
            <li>
              <img src="{{ url_for('static', filename='oauth/img/' + extid.username + '.svg') }}" class="webfont-svg" alt="{{ extid.username }}"/>{% trans %}Last used{% endtrans %} {{ extid.last_used_at|age }}
              <a href="{{ url_for('.remove_extid', service=extid.service, userid=extid.userid) }}" class="mui--pull-right" title="{% trans %}Remove{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-middle">delete</i></a>
            </li>
          {% endfor %}
        </ol>
        <p>{% trans %}Add External ID{% endtrans %}</p>
        {% for provider in login_registry %}
          <a class="mui-btn mui-btn--small mui-btn--fab mui-btn--default login-{{ provider }}" href="{{ url_for('lastuser_oauth.login_service', service=provider, next=url_for('.account')) }}" title="{{ login_registry[provider]['title'] }}"><img src="{{ url_for('static', filename='oauth/img/' + login_registry[provider].icon + '.svg') }}" class="webfont-svg" alt="{{ login_registry[provider]['title'] }}"/></a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-6">
    <div class="card">
      <div class="card__header">
        <h3><b>{% trans %}Email addresses{% endtrans %}</b></h3>
      </div>
      <form action="{{ url_for('.make_email_primary') }}" method="POST">
        <div class="card__body card__body--lgtext mui--text-subhead">
          {{ primary_email_form.hidden_tag() }}
          {% for useremail in current_auth.user.emails %}
          <div>
            <input id="useremail-{{loop.index}}" name="email" value="{{useremail}}" type="radio">&nbsp;
            <label for="useremail-{{loop.index}}">{{ useremail }}</label>
            {% if useremail.primary %}
              <em>{% trans %}(primary){% endtrans %}</em>
            {% endif %}
            {%- if not useremail.primary %}
              <a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}" class="mui--pull-right" title="{% trans %}Remove{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-middle">delete</i></a>
            {%- endif %}
          </div>
          {% endfor %}
          {% for useremail in current_auth.user.emailclaims %}
          <div>
            <input type="radio" disabled="disabled">&nbsp;
            {{ useremail }} <em><a href="{{ url_for('.verify_email', md5sum=useremail.md5sum) }}">{% trans %}(pending verification){% endtrans %}</a></em>
            <a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}" title="{% trans %}Remove{% endtrans %}" class="mui--pull-right"><i class="material-icons mui--text-subhead mui--align-middle">delete</i></a>
          </div>
          {% endfor %}
        </div>
        <div class="mui-divider"></div>
        <div class="card__footer">
          {% if current_auth.user.emails %}
            <button class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" type="submit" title="Set as primary email">{% trans %}Set as primary{% endtrans %}</button>
          {% endif %}
          <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('.add_email') }}" title="Add an email address">{% trans %}Add an email address{% endtrans %}</a>
        </div>
      </form>
    </div>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-6">
    <div class="card">
      <div class="card__header">
        <h3><b>{% trans %}Mobile numbers{% endtrans %}</b></h3>
      </div>
      <form action="{{ url_for('.make_phone_primary') }}" method="POST">
        <div class="card__body card__body--lgtext mui--text-subhead">
          {{ primary_phone_form.hidden_tag() }}
          {% for userphone in current_auth.user.phones %}
            <div>
              <input id="userphone-{{loop.index}}" name="phone" value="{{userphone}}" type="radio">&nbsp;
              <label for="userphone-{{loop.index}}">{{ userphone.formatted() }}</label>
              {% if userphone.primary %} <em>{% trans %}(primary){% endtrans %}</em> {% endif -%}
              {%- if not userphone.primary %}
                <a href="{{ url_for('.remove_phone', number=userphone.phone) }}" title="{% trans %}Remove{% endtrans %}" class="mui--pull-right"><i class="material-icons mui--text-subhead mui--align-middle">delete</i></a>
              {%- endif %}
            </div>
          {% endfor %}
          {% for userphone in current_auth.user.phoneclaims %}
            <div>
              <input type="radio" disabled="disabled">&nbsp;
              <label>{{ userphone.formatted() }}</label> <em>{% if userphone.verification_expired %}{% trans %}(blocked){% endtrans %}{% else %}<a href="{{ url_for('.verify_phone', number=userphone) }}">{% trans %}(pending verification){% endtrans %}</a>{% endif %}</em>
              {% if not userphone.verification_expired %}
                <a href="{{ url_for('.remove_phone', number=userphone.phone) }}" title="{% trans %}Remove{% endtrans %}" class="mui--pull-right"><i class="material-icons mui--text-subhead mui--align-middle">delete</i></a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="mui-divider"></div>
        <div class="card__footer">
          {% if current_auth.user.phones %}<button class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" type="submit">{% trans %}Set as primary{% endtrans %}</button>{% endif %}
          <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('.add_phone') }}">{% trans %}Add a mobile number{% endtrans %}</a>
        </div>
      </form>
    </div>
  </div>

  <div class="grid__col-xs-12">
    <div class="card">
      <div class="card__header">
        <h3><b>{% trans %}My sessions{% endtrans %}</b></h3>
      </div>
      <div class="card__body">
        <ul class="mui-list--aligned mui-list--unstyled mui--text-subhead">
          {%- for session in current_auth.user.active_sessions %}
            <li><p>From {{ session.ipaddr }} since {{ session.created_at|age }} with {{ session.ua['user_agent']['family']}} {{ session.ua['user_agent']['major'] }} on {{ session.ua['os']['family'] }} {{ session.ua['os']['major'] }}.{{ session.ua['os']['minor'] }}, last active {{ session.accessed_at|age }}
            {% if session == current_auth.usersession -%}
              {% trans %}(current){% endtrans %}
            {%- else -%}
              <a href="{{ url_for('lastuser_oauth.logout_session', session=session.buid) }}" title="logout">{% trans %}(logout){% endtrans %}</a>
            {%- endif %}
            </p></li>
            {%- if not loop.last %}
              <div class="mui-divider"></div>
            {%- endif %}
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
