{% extends "layout.html.jinja2" %}

{% block title %}{% trans %}Client application information{% endtrans %}{% endblock %}

{% block contentwrapper %}
<div class="grid">
  {%- if auth_client.owner_is(current_auth.user) %}
    <div class="grid__col-xs-12 grid__col-md-5 grid__col-lg-4">
      <div class="sticky-admin-panel">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title"><strong>{% trans %}Admin panel{% endtrans %}</strong></h3>
          </div>
          <div class="card__body card--text mui--text-subhead">
            <ol class="mui-list--aligned">
              <li><a href="{{ url_for('.client_edit', key=auth_client.buid) }}" title="Edit">{% trans %}Edit this application{% endtrans %}</a></li>
              <li><a href="{{ url_for('.client_delete', key=auth_client.buid) }}" title="Delete">{% trans %}Delete{% endtrans %}</a></li>
              <li><a href="{{ url_for('.client_cred_new', key=auth_client.buid) }}" title="New access key">{% trans %}New access key{% endtrans %}</a></li>
              <li><a href="{{ url_for('.permission_user_new', key=auth_client.buid) }}">
                {%- if auth_client.user -%}
                  {% trans %}Assign permissions to a user{% endtrans %}
                {%- else -%}
                  {% trans %}Assign permissions to a team{% endtrans %}
                {%- endif -%}
              </a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="grid__col-xs-12 grid__col--bleed {%- if auth_client.owner_is(current_auth.user) or auth_client.owner_is(current_auth.user) %} grid__col-md-7 grid__col-lg-8{% endif %}">
    <div class="grid__col--bleed-y">
    <div class="mui-panel">
      <dl class="infobox">
        <dt class="mui--text-subhead">{% trans %}Application title{% endtrans %}</dt>
        <dd class="mui--text-subhead"><strong>{{ auth_client.title }}</strong></dd>
        <dt class="mui--text-subhead">{% trans %}Description{% endtrans %}</dt>
        <dd class="mui--text-subhead">{{ auth_client.description }}</dd>
        <dt class="mui--text-subhead">{% trans %}Owner{% endtrans %}</dt>
        <dd class="mui--text-subhead">{{ auth_client.owner.pickername }}</dd>
        <dt class="mui--text-subhead">{% trans %}Type{% endtrans %}</dt">
        <dd class="mui--text-subhead">{% if auth_client.confidential %}{% trans %}Confidential{% endtrans %}{% else %}{% trans %}Public{% endtrans %}{% endif %}
        <dt class="mui--text-subhead">{% trans %}Website{% endtrans %}</dt>
        <dd class="mui--text-subhead"><a rel="nofollow" href="{{ auth_client.website }}">{{ auth_client.website }}</a></d>
        {%- if auth_client.namespace %}
          <dt class="mui--text-subhead">{% trans %}Namespace{% endtrans %}</dt>
          <dd class="mui--text-subhead">{{ auth_client.namespace }}</dd>
        {%- endif %}
        {%- if auth_client.owner_is(current_auth.user) %}
          <dt class="mui--text-subhead">{% trans %}Redirect URLs{% endtrans %}</dt>
          <dd class="mui--text-subhead">
            {%- for r in auth_client.redirect_uris -%}
              {{ r }}{% if not loop.last %}<br>{% endif %}
            {%- endfor -%}
          </dd class="mui--text-subhead">
          <dt class="mui--text-subhead">{% trans %}Notification URL{% endtrans %}</dt>
          <dd class="mui--text-subhead">{{ auth_client.notification_uri }}</dd>
        {%- endif %}
        <dt class="mui--text-subhead">{% trans %}Active?{% endtrans %}</dt>
        <dd class="mui--text-subhead">{{ auth_client.active }}</dd>
        <dt class="mui--text-subhead">{% trans %}Allow anyone to login?{% endtrans %}</dt>
        <dd class="mui--text-subhead">{{ auth_client.allow_any_login }}</dd>
        <dt class="mui--text-subhead">{% trans %}Registered date{% endtrans %}</dt>
        <dd class="mui--text-subhead">{{ auth_client.created_at.strftime('%Y-%m-%d %H:%M') }} UTC</dd>
        {%- if auth_client.owner_is(current_auth.user) %}
          <dt class="mui--text-subhead">{% trans %}Users{% endtrans %}</dt>
          <dd class="mui--text-subhead">{{ auth_client.authtokens.count() }}</dd>
        {%- endif %}
      </dl>
    </div>
    </div>
    {%- if auth_client.owner_is(current_auth.user) %}
      <div class="grid__col--bleed-y">
        <h2>{% trans %}Access Keys{% endtrans %}</h2>
      </div>
      <div class="grid grid--align-baseline">
      {% for cred in auth_client.credentials.values() %}
        <div class="grid__col-auto">
          <div class="card card--limited">
            <div class="card__header">
              <h3 class="mui--text-title">{{ cred.title }}</h3>
            </div>
            <div class="card__body">
              <dl class="infobox">
                <dt class="mui--text-subhead">{% trans %}Purpose{% endtrans %}</dt>
                <dd class="mui--text-subhead">{{cred.title}}</dd>
                <dt class="mui--text-subhead">{% trans %}Key{% endtrans %}</dt>
                <dd class="mui--text-subhead">{{cred.name}}</dd>
                <dt class="mui--text-subhead">{% trans  %}Created{% endtrans %}</dt>
                <dd class="mui--text-subhead">{{ cred.created_at.strftime('%Y-%m-%d %H:%M') }} UTC</dd>
                <dt class="mui--text-subhead">{% trans %}Last used{% endtrans %}</dt>
                {% if cred.accessed_at %}
                  <dd class="mui--text-subhead">{{ cred.accessed_at|age }}</dd>
                {% else %}
                  <dd class="mui--text-subhead">{% trans %}never{% endtrans %}</dd>
                {% endif %}
            </div>
            <div class="mui-divider"></div>
            <div class="card__footer">
              <a href="{{ url_for('.client_cred_delete', key=auth_client.buid, name=cred.name) }}" title="{% trans %}Revoke{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}Revoke{% endtrans %}</a>
            </div>
          </div>
        </div>
      {%- else %}
        <div class="grid__col-auto">
          <p class="mui--text-subhead"><em>{% trans %}This application does not have any access keys{% endtrans %}</em></p>
        </div>
      {% endfor %}
      </div>
    {%- endif %}

    {% if auth_client.owner_is(current_auth.user) %}
      <div class="grid__col--bleed-y">
        <h2>{% trans %}Permissions{% endtrans %}</h2>
        {% if auth_client.user %}
          <p>{% trans %}The following users have permissions to this app.{% endtrans %}</p>
        {% else %}
          <p>{% trans %}The following teams have permissions to this app.{% endtrans %}</p>
        {% endif %}
      </div>
      <div class="grid grid--align-baseline">
        {%- for pa in permassignments %}
          <div class="grid__col-auto">
            <div class="card card--limited">
              <div class="card__header">
                <h3 class="mui--text-title">{{ pa.pickername }}</h3>
              </div>
              <div class="card__body card--text mui--text-subhead">
                <p>{% trans access=pa.access_permissions %}Permissions: {{ access }}{% endtrans %}</p>
              </div>
              <div class="mui-divider"></div>
              <div class="card__footer">
                <a href="{{ url_for('.permission_user_edit', key=auth_client.buid, buid=pa.buid) }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}Edit{% endtrans %}</a>
                <a href="{{ url_for('.permission_user_delete', key=auth_client.buid, buid=pa.buid) }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}Delete{% endtrans %}</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="grid__col-auto">
            <p class="mui--text-subhead"><em>{% trans %}No permissions assigned{% endtrans %}</em></p>
          </div>
        {% endfor %}
      </div>
    {%- endif %}

  </div>
<div>
{% endblock %}
