{% extends "layout.html.jinja2" %}
{% block title %}Client application information{% endblock %}
{% block contentwrapper %}
<div class="grid">
  {%- if client.owner_is(current_auth.user) %}
    <div class="grid__col-xs-12 grid__col-md-5 grid__col-lg-4">
      <div class="sticky-admin-panel">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title"><strong>ADMIN PANEL</strong></h3>
          </div>
          <div class="card__body card--text mui--text-subhead">
            <ol class="mui-list--aligned">
              <li><a href="{{ url_for('.client_edit', key=client.key) }}" title="Edit">Edit this application</a></li>
              <li><a href="{{ url_for('.client_delete', key=client.key) }}" title="Delete">Delete</a></li>
              <li><a href="{{ url_for('.client_cred_new', key=client.key) }}" title="New access key">New access key</a></li>
              <li><a href="{{ url_for('.permission_new') }}">Define a new permission</a></li>
              <li><a href="{{ url_for('.permission_user_new', key=client.key) }}">Assign permissions to another {% if client.user %}user{% else %}team{% endif %}</a></li>
              {% if current_auth.is_authenticated and client.team_access and current_auth.user.organizations_owned() %}
                <li><a href="{{ url_for('.client_team_access', key=client.key) }}" title="Change access permissions">Change access permissions</a></li>
              {% endif %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="grid__col-xs-12 grid__col--bleed {%- if client.owner_is(current_auth.user) or client.owner_is(current_auth.user) %} grid__col-md-7 grid__col-lg-8{% endif %}">
    <table class="mui-table mui-table--bordered grid__col--bleed-y">
      <tbody class="mui--text-subhead mui-panel">
        <tr>
          <td>Application title</td>
          <td><strong>{{ client.title }}</strong></td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ client.description }}</td>
        </tr>
        <tr>
          <td>Owner</td>
          <td>{{ client.owner.pickername }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{% if client.confidential %}Confidential{% else %}Public{% endif %}</td>
        </td>
        <tr>
          <td>Website</td>
          <td><a rel="nofollow" href="{{ client.website }}" target="_blank">{{ client.website }}</a></td>
        </tr>
        {%- if client.namespace %}
          <tr>
            <td>Namespace</td>
            <td>{{ client.namespace }}</td>
          </tr>
        {%- endif %}
        <tr>
          <td>Redirect URL</td>
          <td>{{ client.redirect_uri }}</td>
        </tr>
        <tr>
          <td>Notification URL</td>
          <td>{{ client.notification_uri }}</td>
        </tr>
        <tr>
          <td>IFrame URL</td>
          <td>{{ client.iframe_uri }}</td>
        </tr>
        <tr>
          <td>Resource URL</td>
          <td>{{ client.resource_uri }}</td>
        </tr>
        <tr>
          <td>Active?</td>
          <td>{{ client.active }}</td>
        </tr>
        <tr>
          <td>Allow anyone to login?</td>
          <td>{{ client.allow_any_login }}</td>
        </tr>
        <tr>
          <td>Registered date</td>
          <td>{{ client.created_at.strftime('%Y-%m-%d %H:%M') }} UTC</td>
        </tr>
        {%- if client.owner_is(current_auth.user) %}
        <tr>
          <td>Users</td>
          <td>{{ client.authtokens.count() }}</td>
        </tr>
        {%- endif %}
      </tbody>
    </table>
    {%- if client.owner_is(current_auth.user) %}
      <div class="grid__col--bleed-y">
        <h2>Access Keys</h2>
      </div>
      <div class="grid grid--align-baseline">
      {% for cred in client.credentials.values() %}
        <div class="grid__col-auto">
          <div class="card card--limited">
            <div class="card__header">
              <h3 class="mui--text-title">{{ cred.title }}</h3>
            </div>
            <div class="card__body">
              <p><b>Purpose</b>: {{ cred.title }}</p>
              <p><b>Key</b>: {{ cred.name }}</p>
              <p><b>Created</b>: {{ cred.created_at.strftime('%Y-%m-%d %H:%M') }} UTC</p>
              <p><b>Last used</b>: {% if cred.accessed_at %}{{ cred.accessed_at|age }}{% else %}never{% endif %}</p>
            </div>
            <div class="mui-divider"></div>
            <div class="card__footer">
              <a href="{{ url_for('.client_cred_delete', key=client.key, name=cred.name) }}" title="{% trans %}Revoke{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Revoke</a>
            </div>
          </div>
        </div>
      {%- else %}
        <div class="grid__col-auto">
          <p class="mui--text-subhead"><em>This application does not have any access keys</em></p>
        </div>
      {% endfor %}
      </div>
    {%- endif %}

    <div class="grid__col--bleed-y">
      <h2>Resources</h2>
      <p class="mui--text-subhead">
        This app provides the following resources and actions on resources.
      </p>
    </div>
    <div class="grid grid--align-baseline">
      {% for resource in resources %}
        <div class="grid__col-auto">
          <div class="card card--limited">
            <div class="card__header">
              <h3 class="mui--text-title"><strong>{{ resource.name }}</strong>{% if resource.siteresource %} <em>(site)</em>{% endif %}</h3>
            </div>
            <div class="card__body">
              <p><b>Title</b>: {{ resource.title }}</p>
              <p><b>Description</b>: {{ resource.description }}</p>
            </div>
            {% if client.owner_is(current_auth.user) %}
              <div class="mui-divider"></div>
              <div class="card__footer">
                <a href="{{ url_for('.resource_edit', key=client.key, idr=resource.id) }}" title="{% trans %}Edit{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Edit</a>
                <a href="{{ url_for('.resource_delete', key=client.key, idr=resource.id) }}" title="{% trans %}Delete{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Delete</a>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="grid__col-auto">
          {% for action in resource.actions %}
            <div class="card card--limited">
              <div class="card__header">
                <h3 class="mui--text-title">{{ action.name }}</h3>
              </div>
              <div class="card__body card--text mui--text-subhead">
                <p><b>Title</b>: {{ action.title }}</p>
                <p><b>Description</b>: {{ action.description }}</p>
              </div>
              {% if client.owner_is(current_auth.user) %}
                <div class="mui-divider"></div>
                <div class="card__footer">
                  <a href="{{ url_for('.resource_edit', key=client.key, idr=resource.id) }}" title="{% trans %}Edit{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Edit</a>
                  <a href="{{ url_for('.resource_delete', key=client.key, idr=resource.id) }}" title="{% trans %}Delete{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Delete</a>
                  <a href="{{ url_for('.resource_action_new', key=client.key, idr=resource.id) }}" title="{% trans %}Add action{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Add action</a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {%- else %}
        <div class="grid__col-auto">
          <p class="mui--text-subhead"><em>This application does not provide any resources</em></p>
        </div>
      {% endfor %}
    </div>

    {% if client.owner_is(current_auth.user) %}
      <div class="grid__col--bleed-y">
        <h2>Permissions</h2>
        <p>The following {% if client.user %}users{% else %}teams{% endif %} have permissions to this app.</p>
      </div>
      <div class="grid grid--align-baseline">
        {%- for pa in permassignments %}
          <div class="grid__col-auto">
            <div class="card card--limited">
              <div class="card__header">
                <h3 class="mui--text-title">{{ pa.pickername }}</h3>
              </div>
              <div class="card__body card--text mui--text-subhead">
                <p><b>Permissions</b>: {{ pa.access_permissions }}</p>
              </div>
              <div class="mui-divider"></div>
              <div class="card__footer">
                <a href="{{ url_for('.permission_user_edit', key=client.key, buid=pa.buid) }}" title="{% trans %}Edit{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Edit</a>
                <a href="{{ url_for('.permission_user_delete', key=client.key, buid=pa.buid) }}" title="{% trans %}Delete{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Delete</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="grid__col-auto">
            <p class="mui--text-subhead"><em>No permissions assigned</em></p>
          </div>
        {% endfor %}
      </div>
    {%- endif %}

    {% if current_auth.is_authenticated and client.team_access and current_auth.user.organizations_owned() %}
      <div class="grid__col--bleed-y">
        <h2>Team Access</h2>
        <p>This application can manage access permissions per team. Select the organizations whose teams it has access to.</p>
      </div>
       <div class="grid grid--align-baseline">
        {% for org in current_auth.user.organizations_owned() %}
          <div class="grid__col-auto">
            <div class="card card--limited">
              <div class="card__header">
                <h3 class="mui--text-title">{{ org.title }}</h3>
              </div>
              <div class="card__body card--text mui--text-subhead">
                <p><b>Access</b>: {% if client in org.clients_with_team_access() %}Yes{% else %}No{% endif %}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {%- endif %}
  </div>
<div>
{% endblock %}
