{% extends "layout.html.jinja2" %}

{% block title %}Client access key{% endblock %}

{% block content %}
  <p class="mui--text-title">
    Here is your new application access key. Save this somewhere safe. You will not be able
    to view this secret again.
  </p>
  <div class="mui-panel">
    <dl class="infobox">
      <dt>Application title</dt>
      <dd>{{ cred.client.title }}</dd>
      <dt>Access key for</dt>
      <dd>{{ cred.title }}</dd>
      <dt>Client access key</dt>
      <dd><strong>{{ cred.name }}</strong></dd>
      <dt>Client secret</dt>
      <dd><strong>{{ secret }}</strong></dd>
    </dl>
  </div>
  <p>
    <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ url_for('.client_info', key=cred.client.key) }}"><i class="fa fa-angle-left"></i> Return to client info</a>
  </p>
{% endblock %}
