{% extends "layout.html" %}
{% block title %}Application list{% endblock %}
{% block content %}
<table class="table table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Owner</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
      {%- set link = url_for('.client_info', key=client.key)|e %}
      <tr class="link">
        <td><a href="{{ link }}">{{ loop.index }}</a></td>
        <td><a href="{{ link }}">{{ client.title }}</a></td>
        <td><a href="{{ link }}">{{ client.owner.pickername }}</a></td>
        <td><a href="{{ link }}">{{ client.website }}</a></td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">No applications have been registered</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a class="btn btn-primary" href="{{ url_for('.client_new') }}">New application</a>
</p>
{% endblock %}
