{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block pageheaders %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <h2>{{ mau }} monthly active users</h2>
  <div id="monthly-users"></div>
  <h2>{{ user_count }} total users</h2>
  <div id="total-users"></div>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js"></script>

  <script type="text/javascript">
    c3.generate({
      bindto: '#total-users',
      data: {
        url: {{ url_for('.dashboard_data_users_by_month')|tojson }},
        x: 'month',
        type: 'bar',
        names: {
          count: 'New users'
          }
      },
      axis: {
        x: {
          type: 'timeseries',
          localtime: false,
          tick: {
            format: '%Y-%m'
          }
        }
      },
      zoom: {
        enabled: true
      }
    });

    c3.generate({
      bindto: '#monthly-users',
      size: {
        height: 600
      },
      data: {
        url: {{ url_for('.dashboard_data_users_by_client')|tojson }},
        keys: {
          value: ['hour', 'day', 'week', 'month', 'quarter', 'halfyear', 'year']
        },
        x: 'title',
        type: 'bar',
        groups: [
          ['hour', 'day', 'week', 'month', 'quarter', 'halfyear', 'year']
        ],
        order: null,
        colors: {
          hour:     '#ff0000',
          day:      '#ff0055',
          week:     '#ff00aa',
          month:    '#ff00ff',
          quarter:  '#aa00ff',
          halfyear: '#5400ff',
          year:     '#0000ff'
        }
      },
      axis: {
        rotated: true,
        x: {
          type: 'category'
        }
      }
    })
  </script>
{% endblock %}
