{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block pageheaders %}
  <style type="text/css">
    .bar {
      fill: steelblue;
    }
    .bar text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }
  </style>
{% endblock %}

{% block content %}
  <p>
    Total users: {{ user_count }}<br>
    Last month active: {{ mau }}
  </p>
  <div><svg id="monthly-signups" class="chart"></svg></div>
  <div><svg id="client-users" class="chart"></svg></div>
  <table class="table">
    <thead>
      <tr>
        <th>Client application</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
    {%- for row in client_users %}
      <tr>
        <td><a href="{{ row['website'] }}" target="_blank">{{ row['title'] }}</a></td>
        <td>A: {{ row['counts']['year'] }} HA: {{ row['counts']['halfyear'] }} Q: {{ row['counts']['quarter'] }} M: {{ row['counts']['month'] }} W: {{ row['counts']['week'] }} D: {{ row['counts']['day'] }} H: {{ row['counts']['hour'] }}</td>
        <td>{{ row['counts'] }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{% endblock %}

{% block footerscripts %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script type="text/javascript">
    var margin = {top: 40, right: 20, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var svg = d3.select("#monthly-signups")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.tsv({{ url_for('.dashboard_data_users_by_month')|tojson }}, type, function(error, data) {
      x.domain(data.map(function(d) { return d.month; }));
      y.domain([0, d3.max(data, function(d) { return d.count; })]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Count");

      svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.month); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.count); })
          .attr("height", function(d) { return height - y(d.count); })
          .on('mouseover', tip.show)
          .on('mouseout', tip.hide)

    });

    function type(d) {
      d.count = +d.count;
      return d;
    }
  </script>
{% endblock %}
