{% extends "layout.html.jinja2" %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block headline -%}{% endblock %}
{% block content %}
<p>
  Hello there! This site is powered by <a href="https://github.com/hasgeek/lastuser">Lastuser</a>,
  <a href="http://hasgeek.in">HasGeek</a>’s experimental, open source user management app.
  This site is a work-in-progress. The most useful thing you can do with it at the moment
  is to <a href="{{ url_for('lastuser_oauth.login') }}">login with Twitter or Google</a>. Or, if you prefer
  to have a separate password for this site, you can <a href="{{ url_for('lastuser_oauth.register') }}">register
  an account</a>.
</p>
<p>
  Lastuser is a backend service that enables federated user management and services, allowing us
  to build websites for specific goals using whatever technology is most appropriate. When Lastuser
  becomes production-ready, integration will be seamless. You will not be shown this page as an
  excuse for poor usability.
</p>
<p>
  At its core, Lastuser is an <a href="http://oauth.net/2/">OAuth 2.0 (draft 22)</a> authorization
  server with custom extensions to fill gaps in the spec. OAuth 2.0 distinguishes between the roles
  of authorization and resource servers but does not define communication between the two. Lastuser
  is an authorization-only server and defines a protocol for passing authorization tokens to resource
  servers. The accompanying <a href="https://github.com/hasgeek/flask-lastuser">flask-lastuser</a>
  library implements the client side for the <a href="http://flask.pocoo.org/">Flask</a>
  microframework. Lastuser is itself implemented in Flask.
</p>
{% if current_auth.is_authenticated %}
  <p>
    Since you are logged in, you can explore the innards:
  </p>
  <ol>
    <li><a href="{{ url_for('.client_list') }}">Client applications</a></li>
    <li><a href="{{ url_for('.permission_list') }}">Permissions</a></li>
    <li><a href="{{ url_for('.org_list') }}">Organizations</a></li>
  </ol>
{% endif %}
{% endblock %}
