{% extends "layout.html" %}
{% block title %}Organization: {{ org.title }}{% endblock %}
{% block content %}
<h2>Teams</h2>
<ol>
  {% for team in org.teams -%}
    <li>
      <strong>{{ team.title }}</strong>
      (<a href="{{ url_for('.team_edit', name=org.name, userid=team.userid) }}">edit</a>
      {%- if team != org.owners and team != org.members %},
        <a href="{{ url_for('.team_delete', name=org.name, userid=team.userid) }}">delete</a>
      {%- endif %})
      <ol>{% for user in team.users %}<li>{{ user.pickername }}</li>{% endfor %}</ol>
    </li>
  {% endfor %}
</ol>
<p>
  <a class="btn btn-primary" href="{{ url_for('.team_new', name=org.name) }}">New team</a>
</p>
{% endblock %}
