{% extends "layout.html.jinja2" %}
{% block title %}Organization: {{ org.title }}{% endblock %}
{% block content %}
<h2>Teams</h2>
<ol>
  {% for team in org.teams -%}
    <li>
      <strong>{{ team.title }}</strong>
      (<a href="{{ team.url_for('edit') }}">edit</a>
      {%- if team != org.owners and team != org.members %},
        <a href="{{ team.url_for('delete') }}">delete</a>
      {%- endif %})
      <ol>{% for user in team.users %}<li>{{ user.pickername }}</li>{% endfor %}</ol>
    </li>
  {% endfor %}
</ol>
<p>
  <a class="btn btn-primary" href="{{ org.url_for('new_team') }}">New team</a>
</p>
{% endblock %}
