{% extends "layout.html.jinja2" %}
{% block title %}Organizations{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1">Organizations</h1>
  <p><a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ url_for('.org_new') }}">New organization</a></p>
{% endblock %}

{% block content %}
<table class="mui-table mui-table--bordered mui-table--responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Owners</th>
    </tr>
  </thead>
  <tbody class="mui--text-subhead">
    {% for org in organizations %}
      {%- set link = url_for('.org_info', name=org.name)|e %}
      <tr>
        <td><a href="{{ link }}" title="org.title">{{ loop.index }}</a></td>
        <td><a href="{{ link }}" title="org.title">{{ org.title }}</a></td>
        <td><a href="{{ link }}" title="org.title">
          {%- for user in org.owners.users %}
            {%- if not loop.first %}, {% endif -%}
            {{ user.displayname() }}
          {%- endfor -%}
        </a></td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3">No organizations have been created</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
