{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderform, ajaxform %}

{% block content %}
  {%- if message %}
    <p>{{ message }}</p>
  {%- endif %}
  {{ renderform(form=form, formid=formid, submit=submit) }}
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    $(function(){
      Baseframe.Forms.lastuserAutocomplete({
        id: "user",
        multiple: false,
        autocomplete_endpoint: "{{ url_for('lastuser_oauth.user_autocomplete') }}",
        getuser_endpoint: "{{ url_for('lastuser_oauth.user_get_by_userids') }}"
      });
    });
  </script>
{% endblock %}
