{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield, rendersubmit %}
{% block title %}My profile{% endblock %}

{% block content %}
<p>
  This page is work-in-progress.
</p>
<dl class="infobox">
  <dt>My name</dt>
  <dd>{{ current_auth.user.fullname }}</dd>
  <dt>My username</dt>
  <dd>{% if current_auth.user.username %}{{ current_auth.user.username }}{% else %}<em>(none)</em>{% endif %}</dd>
</dl>
<p>
  <a class="btn btn-info" href="{{ url_for('lastuser_oauth.profile_edit') }}">Edit this</a>
  <a class="btn btn-warning" href="{{ url_for('.change_password') }}">Change password</a>
</p>
<h2>My email addresses</h2>
<ul>
  {% for useremail in current_auth.user.emails %}
    <li>{{ useremail }} {% if useremail.primary %} <em>(primary)</em> {% endif -%}
      <a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}">(remove)</a></li>
  {% else %}
    <li><em>(no verified addresses)</em></li>
  {% endfor %}
  {% for useremail in current_auth.user.emailclaims %}
    <li>{{ useremail }} <em>(pending verification)</em>
      <a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}">(remove)</a></li>
  {% endfor %}
  <li><a href="{{ url_for('.add_email') }}">Add another email address &rarr;</a></li>
</ul>

<h2>My mobile numbers</h2>
<ul>
  {% for userphone in current_auth.user.phones %}
    <li>{{ userphone }} {% if userphone.primary %} <em>(primary)</em> {% endif -%}
      <a href="{{ url_for('.remove_phone', number=userphone.phone) }}">(remove)</a></li>
  {% else %}
    <li><em>(no verified numbers)</em></li>
  {% endfor %}
  {% for userphone in current_auth.user.phoneclaims %}
    <li>{{ userphone }} <em>(<a href="{{ url_for('.verify_phone', number=userphone) }}">pending verification</a>)</em>
      <a href="{{ url_for('.remove_phone', number=userphone.phone) }}">(remove)</a></li>
  {% endfor %}
  <li><a href="{{ url_for('.add_phone') }}">Add a mobile number &rarr;</a></li>
</ul>

<h2>My external ids</h2>
<ul>
  {% for extid in current_auth.user.externalids %}
    <li>Service: <b>{{ extid.service }}</b>, Userid: <b>{{ extid.userid }}</b>, Username: <b>{{ extid.username }}</b></li>
  {% else %}
    <li><em>(none)</em></li>
  {% endfor %}
</ul>
<h2>My applications</h2>
<ul>
  {% for client in current_auth.user.clients %}
    <li><a href="{{ url_for('.client_info', key=client.key) }}">{{ client.title }}</a></li>
  {% else %}
  <li><em>(you do not have any applications)</em></li>
  {% endfor %}
  <li><a href="{{ url_for('.client_new') }}">Register an application &rarr;</a></li>
</ul>
<h2>My organizations</h2>
<ul>
  {%- for org in current_auth.user.organizations_owned() %}
    <li><a href="{{ url_for('.org_info', name=org.name) }}">{{ org.title }}</a></li>
  {%- endfor %}
  <li><a href="{{ url_for('.org_new') }}">Create a new organization &rarr;</a></li>
</ul>
<h2>My sessions</h2>
<ul>
  {%- for session in current_auth.user.active_sessions() %}
    <li>From {{ session.ipaddr }} since {{ session.created_at|age }} with {{ session.ua.user_agent.family}}/{{ session.ua.user_agent.major}}.{{ session.ua.user_agent.minor}}.{{ session.ua.user_agent.patch}} on {{ session.ua.os.family }}/{{ session.ua.os.major }}.{{ session.ua.os.minor }}.{{ session.ua.os.patch }}, last active {{ session.accessed_at|age }} {% if session == current_auth.session -%} (current) {%- else -%} (<a href="{{ url_for('lastuser_oauth.logout_session', session=session.buid) }}">logout</a>) {%- endif %}<!-- {{ session.ua|tojson }} --></li>
  {%- endfor %}
</ul>
{% endblock %}
