{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import rendersubmit %}
{% block title %}My profile{% endblock %}

{% block content %}
<div class="row detail">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="detail-box clearfix">
      <h2 class="heading">Info</h2>
      <table class="table detail-box-table">
      <tr>
        <td><strong>Name</strong></td>
        <td>{{ current_auth.user.fullname }}</td>
      </tr>
      <tr>
        <td><strong>Username</strong></td>
        <td>
          {% if current_auth.user.username %}
            {{ current_auth.user.username }}
          {% else %}
            <em>(none)</em>
          {% endif %}
        </td>
      </tr>
      </table>
      <div class="button-box">
        <a class="btn btn-sm btn-info" href="{{ url_for('lastuser_oauth.profile_edit') }}">Edit this</a>
        <a class="btn btn-sm btn-success" href="{{ url_for('.change_password') }}">Change password</a>
      </div>
    </div><!--eof detail-box-->
  </div><!--eof info-->

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="detail-box clearfix">
      <h2 class="heading">Email addresses</h2>
      {% if current_auth.user.emails %}
      <form action="{{ url_for('.make_email_primary') }}" method="POST">
        {{ primary_email_form.hidden_tag() }}
        <div class="table detail-box-table">
          <div class="listwidget">
            <ul>
              {% for useremail in current_auth.user.emails %}
                <li>
                  <input id="useremail-{{loop.index}}" name="email" value="{{useremail}}" type="radio">
                  <label for="useremail-{{loop.index}}">{{ useremail }}</label>
                  {% if useremail.primary %}
                    &nbsp;<em>(primary)</em>
                  {% else %}
                    &nbsp;<a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}"><i class="fa fa-trash-o"></i></a>
                  {% endif %}
                </li>
              {% endfor %}
              {% for useremail in current_auth.user.emailclaims %}
                <li>
                  {{ useremail }} <em>(pending verification)</em>&nbsp;<a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}"><i class="fa fa-trash-o"></i></a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="button-box">
          <button class="btn btn-sm btn-info" type="submit">Set as primary</button>
          <a class="btn btn-sm btn-success" href="{{ url_for('.add_email') }}">Add an email address</a>
        </div>
      </form>
      {% else %}
        <p class="para">No verified addresses</p>
        <div class="button-box">
          <a class="btn btn-sm btn-success" href="{{ url_for('.add_email') }}">Add an email address</a>
        </div>
      {% endif %}

      </form>
    </div><!--eof detail-box-->
  </div><!--eof email-->

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="detail-box clearfix">
      <h2 class="heading">Mobile numbers</h2>
      {% if current_auth.user.phones %}
      <table class="table detail-box-table">
        {% for userphone in current_auth.user.phones %}
          <tr>
            <td>{{ userphone }} {% if userphone.primary %} <em>(primary)</em> {% endif -%}<a href="{{ url_for('.remove_phone', number=userphone.phone) }}"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        {% endfor %}
        {% for userphone in current_auth.user.phoneclaims %}
          <tr>
            <td>{{ userphone }} <em>(<a href="{{ url_for('.verify_phone', number=userphone) }}">pending verification</a>)</em> <a href="{{ url_for('.remove_phone', number=userphone.phone) }}"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
      <p class="para"><em>(No verified numbers)</em></p>
      {% endif %}
      <div class="button-box">
        <a class="btn btn-sm btn-success" href="{{ url_for('.add_phone') }}">Add a mobile number</a>
      </div>
    </div><!--eof detail-box-->
  </div><!--eof phone-->

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="detail-box clearfix">
      <h2 class="heading">External IDs</h2>
      {% if current_auth.user.externalids %}
        <table class="table detail-box-table">
          {% for extid in current_auth.user.externalids %}
            <tr>
              <td><i class="fa fa-{{ extid.service }}"></i>&nbsp;{{ extid.username }}&nbsp;<a href="{{ url_for('.remove_extid', id=extid.id) }}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p class="para"><em>(none)</em></p>
      {% endif %}
    </div><!--eof detail-box-->
  </div><!--eof connected ids-->

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="detail-box clearfix">
      <h2 class="heading">Organizations</h2>
      {% if current_auth.user.organizations_owned() %}
        <table class="table detail-box-table">
          {% for org in current_auth.user.organizations_owned() %}
            <tr>
              <td><a href="{{ url_for('.org_info', name=org.name) }}">{{ org.title }}</a></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p class="para"><em>(No organizations)</em></p>
      {% endif %}
      <div class="button-box">
        <a class="btn btn-sm btn-success" href="{{ url_for('.org_new') }}">Create an organization</a>
      </div>
    </div><!--eof detail-box-->
  </div><!--eof organnizations-->

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="detail-box clearfix">
      <h2 class="heading">Applications</h2>
      {% if current_auth.user.clients %}
        <table class="table detail-box-table">
          {% for client in current_auth.user.clients %}
            <tr>
              <td><a href="{{ url_for('.client_info', key=client.key) }}">{{ client.title }}</a></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p class="para"><em>(No client applications)</em></p>
      {% endif %}
      <div class="button-box">
        <a class="btn btn-sm btn-success" href="{{ url_for('.client_new') }}">Register an application</a>
      </div>
    </div><!--eof detail-box-->
  </div><!--eof developer options-->

  <div class="col-xs-12">
    <div class="detail-box clearfix">
      <h2 class="heading">My sessions</h2>
      <div class="panel panel-default detail-box-panel">
        <ul class="list-group">
          {%- for session in current_auth.user.active_sessions() %}
            <li class="list-group-item">From {{ session.ipaddr }} since {{ session.created_at|age }} with {{ session.ua.browser}}/{{ session.ua.platform }}/{{ session.ua.version }}, last active {{ session.accessed_at|age }}
            {% if session == current_auth.usersession -%}
              (current)
            {%- else -%}
              (<a href="{{ url_for('lastuser_oauth.logout_session', session=session.buid) }}">logout</a>)
            {%- endif %}
            </li>
          {%- endfor %}
        </ul>
      </div>
    </div><!--eof detail-box-->
  </div><!--eof sessions-->
</div><!--eof row-->
{% endblock %}
