{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderfield, rendersubmit %}
{% block title %}My profile{% endblock %}

{% block content %}
<p>
  This page is work-in-progress.
</p>
<img src="{{ avatar }}" />
<dl class="infobox">
  <dt>My name</dt>
  <dd>{{ g.user.fullname }}</dd>
  <dt>My username</dt>
  <dd>{% if g.user.username %}{{ g.user.username }}{% else %}<em>(none)</em>{% endif %}</dd>
  <dt>Bio</dt>
  <dd>{{ g.user.description }}</dd>
</dl>
<p>
  <a href="{{ url_for('lastuser_oauth.profile_edit') }}">Edit this &rarr;</a><br/>
  <a href="{{ url_for('.change_password') }}">Change password &rarr;</a>
</p>
<h2>My email addresses</h2>
<ul>
  {% for useremail in g.user.emails %}
    <li>{{ useremail }} {% if useremail.primary %} <em>(primary)</em> {% endif -%}
      <a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}">(delete)</a></li>
  {% else %}
    <li><em>(no verified addresses)</em></li>
  {% endfor %}
  {% for useremail in g.user.emailclaims %}
    <li>{{ useremail }} <em>(pending verification)</em>
      <a href="{{ url_for('.remove_email', md5sum=useremail.md5sum) }}">(delete)</a></li>
  {% endfor %}
  <li><a href="{{ url_for('.add_email') }}">Add another email address &rarr;</a></li>
</ul>
{#
<h2>My mobile numbers</h2>
<ul>
  {% for userphone in g.user.phones %}
    <li>{{ userphone }} {% if userphone.primary %} <em>(primary)</em> {% endif -%}
      <a href="{{ url_for('.remove_phone', number=userphone.phone) }}">(delete)</a></li>
  {% else %}
    <li><em>(no verified numbers)</em></li>
  {% endfor %}
  {% for userphone in g.user.phoneclaims %}
    <li>{{ userphone }} <em>(pending verification)</em></li>
  {% endfor %}
  <li><a href="{{ url_for('.add_phone') }}">Add a mobile number &rarr;</a></li>
</ul>
#}
<h2>My external ids</h2>
<ul>
  {% for extid in g.user.externalids %}
    <li>Service: <b>{{ extid.service }}</b>, Userid: <b>{{ extid.userid }}</b>, Username: <b>{{ extid.username }}</b></li>
  {% else %}
    <li><em>(none)</em></li>
  {% endfor %}
</ul>
<h2>My applications</h2>
<ul>
  {% for client in g.user.clients %}
    <li><a href="{{ url_for('.client_info', key=client.key) }}">{{ client.title }}</a></li>
  {% else %}
  <li><em>(you do not have any applications)</em></li>
  {% endfor %}
  <li><a href="{{ url_for('.client_new') }}">Register an application &rarr;</a></li>
</ul>
<h2>My organizations</h2>
<ul>
  {%- for org in g.user.organizations_owned() %}
    <li><a href="{{ url_for('.org_info', name=org.name) }}">{{ org.title }}</a></li>
  {%- endfor %}
  <li><a href="{{ url_for('.org_new') }}">Create a new organization &rarr;</a></li>
</ul>
{% endblock %}
