.page-content {
  padding-top: 2em;
}

.content-head--top-padding {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.card--limited {
  width: 340px;
}

.card .card__body--lgtext {
  font-size: inherit;
  line-height: inherit;
}

.webfont-svg {
	width: 15px;
  vertical-align: text-top;
}

.card__body--lgtext .mui-btn + .mui-btn {
  margin-left: 10px;
}

a.loginbutton.hidden, .js a.loginbutton.jshidden, .no-js a.loginbutton.no-jshidden {
  display: none;
  visibility: hidden;
}

.passwordform-heading {
  margin-top: 40px;
}