.page-content {
  padding-top: 2em;
}

.content-head--top-padding {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.card--limited {
  min-width: 200px;
}

@media(min-width: 768px) {
  .card--limited {
    min-width: 300px;
  }
}
.card .card__body--lgtext {
  font-size: inherit;
  line-height: inherit;
}

.icon-img {
  width: 15px;
  vertical-align: text-top;
}

.card__body--lgtext .mui-btn + .mui-btn {
  margin-left: 10px;
}

a.loginbutton.hidden,
.js a.loginbutton.jshidden,
.no-js a.loginbutton.no-jshidden {
  display: none;
  visibility: hidden;
}

.passwordform-heading {
  margin-top: 40px;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

.infobox dt {
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
}
.infobox dd {
  padding: 5px 0;
  margin-left: 0;
  word-break: break-all;
}

@media(min-width: 768px) {
  .infobox dt {
    width: 10em;
    float: left;
    clear: left;
    text-align: right;
    padding: 4px 0 0 0;
  }
  .infobox dd {
    position: relative;
    text-indent: 0;
    clear: none;
    margin: 0;
    margin-left: 11.25em;
    border-left: 1px solid #d7d7d7;
    padding: 4px 0 0 0.75em;
  }
  .infobox dd:after {
    content: "";
    display: table;
    clear: both;
  }
}
