{% macro renderfield(field, css_class="", widget_css_class=None, tabIndex='', autofocus=False, nolabeldesc=False, sidetext=None) -%}
{% if field.errors -%}
  {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
{% endif %}
<div class="field{% if css_class %} {{ css_class}}{% endif %}" id="field-{{ field.id }}">
  {% if field.widget.input_type == 'checkbox' %}
    <div class="label">&nbsp;</div><div class="control checkbox">{% if widget_css_class %}{{ field(class=widget_css_class, tabindex=tabIndex) }}{% else %}{{ field(tabindex=tabIndex) }}{% endif %} {{ field.label }}{% if field.description %}<br/>
      <span class="description">{{ field.description }}</span>{% endif %}</div>
  {% else %}
    {% if not nolabeldesc %}<div class="label">{{ field.label }}{% if field.flags.required == true %} <span class="required">*</span>{% endif %}</div>{% endif %}
    <div class="control">
      {% if autofocus %}
        {% if widget_css_class %}
          {{ field(autofocus="autofocus", class=widget_css_class, tabindex=tabIndex) }}
        {% else %}
          {{ field(autofocus="autofocus", tabindex=tabIndex) }}
        {% endif %}
      {% else %}
        {% if widget_css_class %}
          {{ field(class=widget_css_class, tabindex=tabIndex) }}
        {% elif (field.widget.input_type or "") == "" %}
          {{ field }}
        {% else %}
          {{ field(tabindex=tabIndex) }}
        {% endif %}
      {% endif %}
      {% if not nolabeldesc %}
        {% if sidetext %} <span class="sidetext">{{ sidetext|safe }}</span>{% endif %}
        {% if field.description %}<br/><span class="description">{{ field.description }}</span>{% endif %}
      {% endif %}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro rendersubmit(buttons=[], css_class="", tabIndex='') %}
<div class="field{% if css_class %} {{ css_class}}{% endif %}">
  <div class="label submit">&nbsp;</div>
  <div class="control submit">
    {% for name, value, widget_class in buttons %}
      <input type="submit"
        {%- if name %} name="{{ name|e }}"{% else %} {% endif -%}
        value="{{ value|e }}"
        {% if widget_class %} class="{{ widget_class|e }}" {% else %} {% endif -%}
        {%- if tabIndex %} tabindex="{{ tabIndex }}" {% endif -%}
        />
    {% endfor %}
    <span class="loading hidden">&nbsp;</span>
  </div>
</div>
{% endmacro %}

{% macro renderform(form, formid, submit, message='') %}
<form id="{{ formid }}" method="POST" accept-charset="UTF-8">
  {% if message %}<p>{{ message }}</p>{% endif %}
  <div style="display:none;"><input type="hidden" name="form.id" value="{{ formid }}" /></div>
  {{ form.hidden_tag() }}
  {% if form.csrf.errors %}
    {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {% for field in form %}
    {% if field.widget.input_type and field.widget.input_type == 'hidden' -%}
    {# Don't show hidden #}
    {%- else -%}
    {{ renderfield(field, "small") }}
    {%- endif %}
  {% endfor %}
  {{ rendersubmit([(None, submit or "Submit", None)], "small") }}
</form>
{% endmacro %}

{% macro ajaxform(formid, request, force=False) -%}
{% if force or request.is_xhr -%}
<script type="text/javascript">
  $(function() {
    $("#{{ formid }}").ajaxForm({
      target: '#{{ formid }}',
      replaceTarget: true,
    });
    $('#{{ formid }} input[type="submit"]').click(function() {
      $('#{{ formid }}').find(".loading").removeClass('hidden');
    });
  });
</script>
{%- endif %}
{%- endmacro %}
