<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% block titletags -%}
  <title>{% block title %}{{ title }}{% endblock %} — {{ config['SITE_TITLE'] }}</title>
  <meta name="DC.title" content="{{ self.title()|e }}"/>
  {%- endblock %}
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="{% block author %}{% endblock %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>

  <!-- Stylesheets -->
  <link href="{{ url_for('static', filename='css/screen.css') }}?v=3" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='css/print.css') }}?v=1" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="{{ url_for('static', filename='css/ie.css') }}?v=1" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="{{ url_for('static', filename='js/libs/modernizr.min.js') }}"></script>

  {%- if config['TYPEKIT_CODE'] %}
    <script type="text/javascript" src="//use.typekit.com/{{ config['TYPEKIT_CODE'] }}.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% endif -%}
  {% block pageheaders %}{% endblock %}
</head>
<body>
  <div id="container" class="container">
    <header>
      <div id="logo"><a href="{{ url_for('index') }}">Home</a></div>
      {# {% if g.avatar_url %}
        <a href="{{ url_for('profile') }}"><img class="avatar login_avatar" src="{{ g.avatar_url }}" alt="Avatar"/></a>
      {% endif %} #}
      <ul class="usertools">
        {% if g.user -%}
          <li class="profile"><a href="{{ url_for('profile') }}">{{ g.user.fullname }}</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}      
      </ul>
      {% block header %}{% endblock %}
    </header>
    <div id="main">
      {% block flashmessages %}
      <div id="flash-messages">
        {%- for category, msg in get_flashed_messages(with_categories=true) %}
          <div class="flash flash-{{ category }}"><div class="flashmessage">{{ msg }}</div></div>
        {%- endfor %}
      </div>
      {% endblock %}
      {% block heading %}<h1>{{ self.title()|e }}</h1>{% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="main_footer"></div>
  </div> <!-- end of #container -->
  <footer>
    <div id="footer_content">
      {% block footer %}
        {{ config['MESSAGE_FOOTER'] }}
      {% endblock %}
    </div>
  </footer>

  {% assets "js_all" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets -%}

  <!--[if lt IE 7 ]>
    <script src="{{ url_for('static', filename='js/libs/dd_belatedpng.js') }}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  {% if config['GA_CODE'] and not config['DEBUG'] %}
    <script type="text/javascript">
     var _gaq = [['_setAccount', '{{ config['GA_CODE'] }}'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
  {% endif -%}

  {% block footerscripts %}{% endblock %}

</body>
</html>
